ul li::after{ /* adiciona algo apos o elemento*/
 content: '-';
 background-color: red;
 color: white;
}

ul li:before {
    content: '*';
    color: red;
    background-color: black;
    display: block;
}

p::first-letter{ /*muda a primeira lentra*/
    font-size: 50px;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}

p::first-line {
    background-color: red;
}

p::selection {
    background: black;
    color: white;
}